<?xml version="1.0" encoding="UTF-8"?>

<project name="YuiModuleTargets">

    <dirname property="module.basedir" file="${ant.file.YuiModuleTargets}"/>
    <import file="${module.basedir}/../shared/targets.xml" description="Targets common to Rollup/Module" />

    <target name="build" depends="buildcore, buildskins" />
    <target name="buildskins" depends="-buildskins" />

    <target name="-registerdebug" unless="register.skip">
        <registerversion classname="${component.mainclass}" module="${component.module}" file="${component.builddir}/${component.basefilename}-debug.js" />
    </target>

    <!-- SKINS -->
    <target name="-buildskins" depends="-concatskins" description="Create skin file in local component build directory" if="component.skins.exist">
        <fixcrlf srcdir="${component.builddir}/assets/skins/sam" includes="${component}.css" eol="${buildfiles.eol}" />
    </target>

    <target name="-concatskins" if="component.skins.exist">
        <concatsource destfile="${component.builddir}/assets/skins/sam/${component}.css" sourcedir="${component.assets.base}" sourcefiles="${component}-core.css, skins/sam/${component}-skin.css" />
        <yuicompress src="${component.builddir}/assets/skins/sam/${component}.css" dest="${component.builddir}/assets/skins/sam/${component}.css" args="${yuicompressor.css.args.internal}" />
    </target>

</project>
